﻿@{
    ViewData["Title"] = "login";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<body>
    <div>
            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter your username" name="username" required="required" /><br />
            <label for="password"><b>password</b></label>
            <input type="password" placeholder="enter your password" name="password" required="required"/>
            <br/>
            
            <button type="submit">Add character</button>
        
          <div>If you don't have an account click <a asp-action="LoginScreen">here</a>.
            </div>
            <br>
        </div>
</body>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
</address>
