@{
    ViewData["Title"] = "login";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<body>
    <div>
            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Choose your username" name="username" required="required" /><br />
            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Choose Password" name="password" required="required"/>
            <br />
            <button type="submit">Create account</button>
        </div>
</body>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
</address>