﻿html{
    background-color:beige;
}
label {
    color: black;
    padding: 5px;
}
input {
    margin: 5px;
    border:inset;
}
button {
    background-color: #4CAF50;
    color:white;
    border:none;
    cursor:pointer;
    width:60px;
    height: 40px;
}
button:hover{
    opacity:0.8;
}

