﻿@page
@model SignalR.Pages.doorCountersModel
@{
    ViewData["Title"] = "doo rCounters";

}



<h2>DOOR COUNTERS</h2>

<div>
    Room 1 counter:
    <p id="room1counter"></p>
</div>

<div>
    Room 2 counter:
    <p id="room2counter"></p>
</div>
<div>
    Latest visitor:
    <p id="latestVisitor"></p>
</div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/roomTicker.js"></script>

