﻿@page
@model SignalR.Pages.doorControlsModel
@{
    ViewData["Title"] = "doorControls";
}

<h2>DOOR CONTROLS</h2>
    <div >
        <form   method="post" >
            <input type="radio" name="roomNr" value="1" checked=true > Room 1<br>
            <input type="radio" name="roomNr" value="2"> Room 2<br>
            <button class="btn btn-default" type="submit">Open Room </button>           
        </form>
    </div>


<!--<script src="~/lib/signalr/signalr.js"></script> -->
