﻿@page
@model SignalR.Pages.doorHistoryModel
@{
    ViewData["Title"] = "Door History";
    
}


<h2>HISTORY</h2>


<div>   

    <table border="1"><caption>Room 1</caption><tr><th>Time</th><th>Date</th></tr>
    @foreach (var v in Model.room1)
    {
        <tr>
            <td>@v.time</td>
            <td>@v.date</td>
        </tr>
    }
    </table>
</div>

<div>   
    <table border="1"><caption>Room 2</caption><tr><th>Time</th><th>Date</th></tr>
    @foreach (var v in Model.room2)
    {
        <tr>
            <td>@v.time</td>
            <td>@v.date</td>
        </tr>
    }
    </table>
    
    
</div>
